@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-dvh;
  }

  html {
    scroll-behavior: smooth;
  }

  div[data-overlay-container] {
    @apply bg-zinc-100 dark:bg-zinc-950 grid grid-cols-1 grid-rows-[auto_1fr_auto] min-h-full;
  }
}

@layer components {
  .embla {
    max-width: 100%;
    margin: auto;
    --slide-spacing: 30px;
    --slide-size: 100%;

    @media (min-width: 768px) {
      --slide-size: 50%;
    }
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  .embla__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
  }
  .embla__dot {
    -webkit-tap-highlight-color: rgba(white, 0.5);
    -webkit-appearance: none;
    appearance: none;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    width: 14px;
    height: 10px;
    @apply dark:bg-white bg-black/30;
  }
  .embla__dot--selected {
    width: 32px;
    @apply bg-pastel-sky;
  }
}
